# OpenRouter Configuration
OPENROUTER_API_KEY=your_openrouter_api_key_here
USE_OPENROUTER=true
OPENROUTER_MODEL_ID=meta-llama/llama-3.2-11b-vision-instruct:free

# Supabase Configuration
SUPABASE_URL=https://stlwsvmkfwcrhxnshceu.supabase.co
SUPABASE_BUCKET=invoice-images
SUPABASE_API_KEY=your_supabase_api_key_here

# Server Configuration
PORT=8080
MAX_WORKERS=5
OCR_LANGUAGES=eng,ind