# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Dependencies
vendor/
Godeps/

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
bin/*
tmp/
dist/
cmd/__debug_*
cmd/server/__debug_*

# Logs
*.loga

# secrets
.env
